html {
  background-color: burlywood;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
li.menu a {
  text-decoration: none;
  color: rgb(139, 89, 22);
  float: left;
  display: block;
  background-color: rgb(168, 132, 84);
  box-shadow: 2px 2px rgb(138, 110, 79);
  text-align: center;  
  width: 100px;
  float: left;
}
li a:hover {
  color: rgb(204, 198, 191);
}
.active {
  color: rgb(204, 198, 191);
}
ul.service {
  list-style-type: square;
  margin: 1% 30% 5% 30%;
}
ul.service li {
  background-color: lawngreen;
}
h1 {
  color: rgb(139, 89, 22);
  text-align: center;  
  left: 40%;
}
h2 {
  color: rgb(139, 89, 22);
  text-align: center;
  left: 40%;

}
img {
  display: block;
  margin: auto;
  width: 30%;
}
